.tzeva-adom-chart {
    max-height: 95vh;

    .statistical {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        grid-gap: 30px;
        padding: 10px;
        border: 1px solid $prime-clr;
        border-radius: 10px;
        text-align: center;
        align-items: center;

    }

    @include for-normal-layout {
        // height: 75vh;
        // width: 60vw;
        font-size: .8em;

        .statistical {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            grid-gap: 10px;
            min-height: 180px;
        }

    }
}