.tzeva-adom-table {
    position: relative;
    overflow-x: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .table-container {
        // max-height: 80vh;
        overflow-y: auto;

        table {
            width: 100%;
            border-collapse: collapse;
            // min-width: 600px;

            thead {
                position: sticky;
                top: 0;
                background-color: $prime-clr;
                color: #fff;

                th {
                    padding: 12px 15px;
                    text-align: c;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 14px;

                    div {
                        cursor: pointer;
                    }
                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid #dddddd;
                    cursor: pointer;

                    &:nth-child(even) {
                        background-color: #f9f9f9;
                    }

                    &:nth-child(odd) {
                        background-color: white;
                    }

                    &:hover {
                        background-color: #f1f1f1;
                    }
                }

                td {
                    padding: 12px 15px;
                    color: #333;
                    font-size: 14px;
                    text-align: center;

                    &.highlight {
                        background-color: #ffeb3b;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @include for-normal-layout {
        padding-block-start: 10px;

    }
}