.tzeva-adom-index {
    display: grid;
    grid-template-columns: 360px 1fr 5px;
    grid-template-rows: 99vh;
    gap: 5px 10px;
    transition: grid-template-columns 0.5s ease;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 100%;
    overflow-y: hidden;
    direction: ltr;

    &.sidebar-show {
        grid-template-columns: 340px 1fr 10px;
    }


    &:last-child {
        grid-column: 2;
        grid-row: 3;
    }

    @include for-normal-layout {
        grid-template-columns: 1fr 5px;
        padding-inline-start: 30px;
    }
}