.tzeva-adom-index {
    display: grid;
    grid-template-columns: 335px 1fr 5px;
    grid-template-rows: 100vh;
    gap: 5px 10px;
    scrollbar-width: none;
    overflow-y: hidden;

    &.sidebar-show {
        grid-template-columns: 340px 1fr 10px;
    }


    &:last-child {
        grid-column: 2;
        grid-row: 3;
    }


    @include for-normal-layout {
        grid-template-columns: 1fr 5px;
        padding-inline-start: 10px;

        .recharts-surface {
            padding-inline-end: 30px;
        }

    }
}