// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$prime-clr: #A52A2A;

// Breakpoints
$break-narrow: 500px;
$break-normal: 650px;
$break-wide: 1200px;